fastapi
uvicorn[standard]
httpx
python-dotenv
supabase
groq
pydantic
langgraph
sentence-transformers
langchain
langchain-core
langchain-groq
torch
logtail-python
beautifulsoup4
requests
psycopg2-binary
pgvector